<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <include resource="loglc.xml"/>

    <logger name="com.lc" level="INFO" />
    <logger name="com.lc.admin.center.model.mapper" level="DEBUG" />
    <logger name="com.ibatis" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RunLogFile"/>
        <appender-ref ref="ExceptionLogFile"/>
    </root>

</configuration>
